/* Notification.css */
.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000; /* Set a high z-index value */
  }
  
  .notification.success {
    background-color: #4caf50;
    color: #fff;
  }
  
  .notification.error {
    background-color: #f44336;
    color: #fff;
  }
  

  @media (max-width: 500px) {
    .form-container {
      width: 90%; /* Adjust width for smaller screens */
      padding: 15px; /* Padding for smaller screens */
    }
  }